* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  cursor: url(../assets/hand.png), default;
  background-image: url('../assets/background_05.png');
  background-size:unset;
  overflow: hidden;
}
@font-face {
  font-family: 'Karrik';
  src: url(../fonts/woff/Karrik-Regular.woff);
}
/* ***
MAIN PAGE
*** */
.background-overlay{
  background-image: url('../assets/background_pages.png');
  background-position: 0 0 0 0;
  background-size: 150%, cover;
  overflow: scroll;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
#title{
  display: flex;
  justify-content: right;
  right: 0;
  margin-top: 10vw;
}
text{
  font-family: 'Karrik';
  font-weight: normal;
  font-size: 2vw;
}
*/
#folder-content{
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-right: 3%;
}
#smiley{
  width: 22vw;
  margin: 30px;
}
#folder {
  width: 12vw;
  padding-bottom: 15px;
  margin: 30px;
  filter: blur(0px);
}
#folder:hover{
  filter: blur(5px);
  content:url();
}
#arrow {
  position: relative;
  width: 12vw;
  top: -10vw;
  margin: 30px;
}
/* cursor */
a {
  cursor: url(../assets/hand.png), default;
}
/* ***
SECONDARY PAGE
*** */
main img{
  position: absolute;
  width: 270px;
  padding: 30px;
  filter: blur(0px) drop-shadow(10px 15px 4px rgba(72, 92, 47, 0.75));
}
main img:hover{
  mix-blend-mode: exclusion;
  filter: drop-shadow(10px 15px 4px rgba(183, 163, 208, 0.75));
}
.presentation{
  top: 0;
  left: 0;
}
#s1{
  top: 5%;
  left: 10%;
}
#s2{
  top: 45%;
  left: 31%;
}
.reflection{
  top: 0;
  right: -50%;
}
#r1{
  top: 39%;
  right: -30%;
}
#r2{
  top: 56%;
  right: -15%;
}
#r3{
  top: 7%;
  right: -25%;
}
#r4{
  top: 42%;
}
.project{
  bottom: -100%;
  right: -50%;
}
#p1{

}
#p2{

}
#p3{

}
#p4{

}
#p5{

}
.exercise{
  bottom: -100%;
  left: 0;
}
#e1{

}
#e2{

}
#e3{

}
#e4{

}
