* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0%;
  cursor: crosshair;
}
@font-face {
  font-family: 'Garamondt';
  src: url(fonts/Garamondt-Regular.woff);
}
@font-face {
  font-family: 'Garamondt';
  src: url(fonts/Garamondt-Italic.woff);
  font-style: italic;
}
body{
  overflow: hidden;
  background: #c3c3c3;
  background: -moz-linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%);
  background: linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
}
.garden{
  background: #c3c3c3;
  background-size: cover;
  background-position: fixed;
}
/* code for loading page taken from stackoverflow => http://jsfiddle.net/VpDUG/4952/ */
/* -- starts here -- */
.loader {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: #c3c3c3
              url('assets/ajax-loader.gif')
              50% 50%
              no-repeat;
}
body.loading .loader {
  overflow: hidden;
}
body.loading .loader {
  display: block;
}
/* -- ends here -- */

.page-logo{
  margin-top: 3%;
  margin-left: 3%;
  z-index: 1;
}
#logo-one{
  position: absolute;
  z-index: 4;
}
nav{
  position: absolute;
  bottom: 4%;
  right: 3%;
  z-index: 2;
}
a{
  color: #000000;
  font-size: 18px;
  text-decoration: none;
}
nav a{
  font-style: italic;
}
.nav-button{
  position: relative;
  display: block;
  width: 150px;
  padding: 15px;
  margin-top: 15px;
  border-radius: 50%;
  text-align: center;
  z-index:3;

  font-family: 'Garamondt';
  background-color: #A9A8A9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.nav-button:hover{
  background-color: #5f5f5f;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
}
.back-button{
  position: absolute;
  display: flex;
  bottom: 4%;
  left: 3%;
  padding: 1px;
  padding-left: 3px;
  padding-right: 8px;
  align-self: center;
  justify-content: center;
  text-align: center;

  border: outset 4px #A9A8A9;
  background-color: #A9A8A9;
  font-family:'Times New Roman', Times, serif;
  font-style: normal;
  z-index: 5;
}
.back-button:hover{
  border: outset 4px #969596;
  background-color: #969596;
}
.back-button:active{
  border: inset 4px #A9A8A9;
  background-color: #7c7c7c;
}
.diagram{
  position: relative;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#diagram{
  position: relative;
  display: block;
  width: 70%;
  top: 8vw;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}
.modal-container{
  position: absolute;
  top:0;
  min-width: 100%;
  display: hidden;
}
.about-modal{
  width: 375px;
  height: 400px;
  margin: 10px;

  background-color: #A9A8A9;
  border: solid 1px #000000;
}
.about-modal p{
  font-family: 'Garamondt';
  font-size: 18px;
  line-height: 1.5;
}
.about-modal#one{
  position: absolute;
  top: 8vw;
  left: 16vw;
  z-index: 6;
}
.about-modal#two{
  position: absolute;
  top: 3vw;
  left: 35vw;
  z-index: 7;
}
.about-modal#three{
  position: absolute;
  top: 1vw;
  right: 10vw;
  z-index: 8;
}
.about-icon{
  position: absolute;
  margin: 10px;
}
.next-button{
  position: absolute;
  display: flex;
  bottom: 4%;
  right: 3%;
  padding: 1px;
  padding-left: 6px;
  padding-right: 6px;
  align-self: center;
  justify-content: center;
  text-align: center;

  font-family:'Times New Roman', Times, serif;
  border: outset 4px #A9A8A9;
  background-color: #A9A8A9;
}
.next-button:hover{
  border: outset 4px #969596;
  background-color: #969596;
}
.next-button:active{
  border: inset 4px #A9A8A9;
  background-color: #7c7c7c;
}
#close-modal{
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 10px;
}
.modal-title{
  margin: 10px;
  margin-top: 80px;
}
.about-modal p{
  position: absolute;
  width: 70%;
  top: 0;
  margin: 80px;
  margin-top: 30px;
  overflow: hidden;
}
#nav-files{
  position: absolute;
  left: 50%;
  margin-left: -50px;
  margin-top: 10%;
  z-index: 6;
}
.nav-file{
  position: relative;
  display: block;
  margin-right:auto;
  margin-left:auto;
  text-align: center;
}
.nav-file:hover{
  filter:drop-shadow(0px 0px 9px #61C475);
}
.nav-file p{
  position: relative;
  display: block;
  width: 100px;
  height: auto;
  margin-right:auto;
  margin-left:auto;
  margin-top:15px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
}
.file-icon{
  position: relative;
  width: 150px;
}
#doc-icon{
  width: 200px;
}
#file-one{
  position: absolute;
  right: 200px;
  top: 30px;
}
#file-two{
  position: absolute;
  left: 0px;
  top: -80px;
}
#file-three{
  position: absolute;
  left: 200px;
  top: 200px;
}
#file-four{
  position: relative;
  width: 50px;
  height: auto;
  right: 150px;
  bottom: -350px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: blue;
}
#file-four:hover{
  text-decoration: underline;
}
#file-four:active{
  font-style: italic;
}
#garden-nav{
  position: absolute;
  top: 0;
  margin-top: 3%;
  margin-left: 3%;
}
.garden-button{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-content: center;
  text-align: center;
  z-index: 1;

  filter:blur(0);
  border: outset 4px #bbbbbb;
  background-color: #bebdbd;
}
.garden-button:hover{
  border: outset 4px #a8a8a8;
  background-color: #a8a8a8;
}
.garden-button:active{
  border: inset 4px #bbbbbb;
  background-color: #9c9c9c;
  filter:blur(1px);
}
.garden-button img{
  align-self: center;
  justify-content: center;
  text-align: center;
}
.garden-button picture{
  align-self: center;
  justify-content: center;
  text-align: center;
}
table {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}
table, th, td{
  border: 1px solid black;
}
/* page table */
.page {
  width: 92%;
  border: 1px solid rgba(255, 255, 255, 0);
}
/* navigation table */
.sub {
  border: 1px solid rgba(255, 255, 255, 0);
  padding-top: 3px;
  width: 7.85%;
}
.sub tr {
  width: 4.85%;
}
.sub td {
  width: 4.85%;
  height: 13.85%;
}
tr:last-of-type {
  height: 40%;
}
#tb-footer {
  width: 80%;
  align-self: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0);
}
#tb-footer h1 {
  color: #000000;
  font-family: 'Garamondt';
  font-size: 22px;
  font-weight: lighter;
  font-style: italic;
}
#tb-footer p {
  color: #000000;
  font-family: 'Garamondt';
  font-size: 15px;
  padding-right: 5px;
  padding-left: 5px;
}
/* p5 canvas -> GARDEN CANVAS */
#garden-canvas{
  position: absolute;
  top:3px;
  bottom:3px;
  margin-left: 3px;
  margin-right: auto;
  width: 91.5%;
  z-index: 1;
  opacity: 1;
  border: 1px solid black;

}
/* garden image container */
#garden-imgs{
  width: 100%;
  height: 100%;
  text-align: center;

  /* scrollbar  */
  scrollbar-color: #c3c3c3 #c3c3c3;
  scrollbar-width: thin;
  filter: grayscale(0%);
  overflow: scroll;
}
#garden-imgs::-webkit-scrollbar {
 background: #c3c3c3;
 opacity: 0;
}
#garden-imgs::-webkit-scrollbar-track{
 background: #c3c3c3;
 outline: 1px solid #000000;
}
#garden-imgs::-webkit-scrollbar-corner{
  background: #000000;
 }
/* garden images */
#garden-imgs img{
  height: 120%;
  filter: invert(auto) sepia(auto) saturate(auto) hue-rotate(auto) brightness(auto) contrast(auto);
}
/*
svg{
width: 200%;
height: 200%;
/*
-webkit-mask-image: url(assets/ex/placeholder-mask2.png);
mask: url(assets/ex/placeholder-mask2.png);
mask-size: contain;
}
#garden-imgs image{
  width: 100%;
}
*/
/* GARDEN MODAL INTERFACE */
.garden .modal-container{
  position: absolute;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background: none;
  /* background turns grey when modal appears
  background:rgba(169,169,169, 0.75);*/
}
.garden-modal{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.5px solid #000000;
  background: #cccccc;
  filter:drop-shadow(-1px 1px 5px #61c475b4);
  z-index: 3;
}
.garden-modal#one{
  display: none;
  width: 400px;
  height: 400px;
}
.garden-modal#two{
  display: none;
  width: 150px;
  height: 250px;
}
.garden-modal#three{
  display: none;
  width: 250px;
  height: 175px;
}
.close-modal{
  position: absolute;
  color: #000000;
  bottom: 0;
  right: 0;
  padding-right: 5px;
  mix-blend-mode: darken;
}
.close-modal:hover{
  color: #000000;
  background: #bbbbbb;
  padding-left: 5px;
}
.close-modal:active{
  color: #ffffff;
  background: #61c475b4;
}
/* garden modal font+color */
.garden-modal h1{
  padding-top: 5px;
  padding-bottom: 5px;

  border-bottom: 1px solid #000000;
  color: #000000;
  background: #ffffff;
  font-family: 'Garamondt';
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}
.garden-modal p{
  font-family: 'Garamondt';
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
}
.garden-modal [name="sunshine"]{
  font-family:'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 2;
  border: none;
  background: none;
  padding-left: 5px;
  padding-right: 5px;
  text-transform:uppercase;
}
.garden-modal [name="sunshine"]:hover{
  border: none;
  color: #000000;
  background: #bbbbbb;
}
.garden-modal [name="sunshine"]:active{
  border: 2px inset #bbbbbb;
  color: #9c9c9c;
}
.inline-modal{
  position: relative;
  display: flex;
  margin-top: auto;
  padding: 5px;
}
.garden-modal#one p{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#three .inline-modal{
  margin-left: 30px;
}
#one .inline-modal{
  display: flex;
  justify-content: center;
  align-items: center;
}
.inline-modal .column{
  flex: 50%;
  padding-top: 5px;
  text-align: left;
}
.garden-modal [name="fertilizer"]{
  position: relative;
  width: 35px;
  height: 35px;
  margin: 5px;
  text-align: center;

  border: outset 4px #cccccc;
  background: #cccccc;
  font-family:'Times New Roman', Times, serif;
  font-size: 16px;
  font-style: normal;
}
.garden-modal [name="fertilizer"]:hover{
  border: outset 4px #bbbbbb;
  background-color: #bbbbbb;
}
.garden-modal [name="fertilizer"]:active{
  border: inset 4px #A9A8A9;
  background-color: #7c7c7c;
}
/** RESPONSIVE STYLE FOR CELLPHONE VIEW **/
@media only screen and (hover: none) and (pointer: coarse){
    body {
      display: none;
    }
    html::after{
      position: fixed;
      display: block;
      content: "to view this website, please use a desktop or laptop computer";
      background: -moz-linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%);
      background: -webkit-linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%);
      background: linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%);
      background-size: cover;
      height: 100%;
      color: #000000;
      text-align: center;
      padding-top: 50%;
      padding-right: 10%;
      padding-left: 10%;
      overflow: visible;
    }
  }

@media screen and (max-width: 600px) {
  body {
    display: none;
  }
  html::after{
    position: fixed;
    display: block;
    content: "for functionnality purposes, please resize your window";
    background: -moz-linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%);
    background: linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%);
    background-size: cover;
    width: 100%;
    height: 100%;
    color: #000000;
    text-align: center;
    padding-top: 50%;
    overflow: visible;
  }
}
