* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0%;
  cursor: crosshair;
}
@font-face {
  font-family: 'Garamondt';
  src: url(fonts/Garamondt-Regular.woff);
}
@font-face {
  font-family: 'Garamondt';
  src: url(fonts/Garamondt-Italic.woff);
  font-style: italic;
}
body{
  overflow: hidden;
  background: #c3c3c3;
  background: -moz-linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%);
  background: linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background-attachment: fixed;
}
.garden{
  background: #c3c3c3;
  background-size: cover;
  background-position: fixed;
}
.page-logo{
  margin-top: 3%;
  margin-left: 3%;
  z-index: 1;
}
#logo-one{
  position: absolute;
}
nav{
  position: absolute;
  bottom: 4%;
  right: 3%;
  z-index: 2;
}
a{
  color: #000000;
  font-size: 18px;
  text-decoration: none;
}
nav a{
  font-style: italic;
}
.nav-button{
  position: relative;
  display: block;
  width: 150px;
  padding: 15px;
  margin-top: 15px;
  border-radius: 50%;
  text-align: center;
  z-index:3;

  font-family: 'Garamondt';
  background-color: #A9A8A9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.nav-button:hover{
  background-color: #5f5f5f;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
}
.back-button{
  position: absolute;
  display: flex;
  bottom: 4%;
  left: 3%;
  padding: 1px;
  padding-left: 3px;
  padding-right: 8px;
  align-self: center;
  justify-content: center;
  text-align: center;

  border: outset 4px #A9A8A9; 
  background-color: #A9A8A9;
  font-family:'Times New Roman', Times, serif;
  font-style: normal;
}
.back-button:hover{
  border: outset 4px #969596; 
  background-color: #969596;
}
.back-button:active{
  border: inset 4px #A9A8A9; 
  background-color: #7c7c7c;
}
.diagram{
  position: relative;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#diagram{
  position: relative;
  display: block;
  width: 70%;
  top: 8vw;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}
.modal-container{
  position: absolute;
  top:0;
  min-width: 100%;
  display: hidden;
}
.about-modal{
  width: 375px;
  height: 400px;
  margin: 10px;

  background-color: #A9A8A9;
  border: solid 1px #000000;
}
.about-modal p{
  font-family: 'Garamondt';
  font-size: 18px;
  line-height: 1.5;
}
.about-modal#one{
  position: absolute;
  top: 8vw;
  left: 16vw;
  z-index: 6;
}
.about-modal#two{
  position: absolute;
  top: 3vw;
  left: 35vw;
  z-index: 7;
}
.about-modal#three{
  position: absolute;
  top: 1vw;
  right: 10vw;
  z-index: 8;
}
.about-icon{
  position: absolute;
  margin: 10px;
}
.next-button{
  position: absolute;
  display: flex;
  bottom: 4%;
  right: 3%;
  padding: 1px;
  padding-left: 6px;
  padding-right: 6px;
  align-self: center;
  justify-content: center;
  text-align: center;

  font-family:'Times New Roman', Times, serif;
  border: outset 4px #A9A8A9; 
  background-color: #A9A8A9;
}
.next-button:hover{
  border: outset 4px #969596; 
  background-color: #969596;
}
.next-button:active{
  border: inset 4px #A9A8A9; 
  background-color: #7c7c7c;
}
#close-modal{
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 10px;
}
.modal-title{
  margin: 10px;
  margin-top: 80px;
}
.about-modal p{
  position: absolute;
  width: 70%;
  top: 0;
  margin: 80px;
  margin-top: 30px;
  overflow: hidden;
}
#nav-files{
  position: absolute;
  left: 50%;
  margin-left: -50px;
  z-index: 6;
}
.nav-file{
  position: relative;
  display:block;
  margin-right:auto;
  margin-left:auto;
  text-align: center;
}
.nav-file:hover{
  filter:drop-shadow(0px 0px 9px #61C475);
}
.nav-file p{
  position: relative;
  display: block;
  width: 100px;
  height: auto;
  margin-right:auto;
  margin-left:auto;
  margin-top:15px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: center;
}
#file-four{
  position: relative;
  width: 50px;
  height: auto;
  right: 150px;
  bottom: -350px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: blue;
}
.file-icon{
  position: relative;
  width: 150px;
}
#doc-icon{
  width: 200px;
}
#file-one{
  position: absolute;
  right: 200px;
  top: 30px;
}
#file-two{
  position: absolute;
  left: 0px;
  top: -80px;
}
#file-three{
  position: absolute;
  left: 200px;
  top: 200px;
}
#garden-nav{
  position: absolute;
  top: 0;
  margin-top: 3%;
  margin-left: 3%;
}
.garden-button{
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-content: center;
  text-align: center;
  z-index: 1;

  filter:blur(0);
  border: outset 4px #bbbbbb; 
  background-color: #bebdbd;
}
.garden-button:hover{
  border: outset 4px #a8a8a8; 
  background-color: #a8a8a8;
}
.garden-button:active{
  border: inset 4px #bbbbbb; 
  background-color: #9c9c9c;
  filter:blur(1px);
}
.garden-button img{
  align-self: center;
  justify-content: center;
  text-align: center;
}
.garden-button picture{
  align-self: center;
  justify-content: center;
  text-align: center;
}
table {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}
table, th, td{
  border: 1px solid black;
}
/* page table */
.page {
  width: 92%;
  border: 1px solid rgba(255, 255, 255, 0);
}
/* navigation table */
.sub {
  border: 1px solid rgba(255, 255, 255, 0);
  padding-top: 3px;
  width: 7.85%;
}
.sub tr {
  width: 4.85%;
}
.sub td {
  width: 4.85%;
  height: 13.85%;
}
tr:last-of-type {
  height: 40%;
}
#tb-footer {
  width: 80%;
  align-self: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0); 
}
#tb-footer h1 {
  color: #000000;
  font-family: 'Garamondt';
  font-size: 22px;
  font-weight: lighter;  
  font-style: italic;
}
#tb-footer p {
  color: #000000;
  font-family: 'Garamondt';
  font-size: 15px;
  padding-right: 5px;
  padding-left: 5px;
}
.garden-modal{
  position: absolute;
  width: 150px;
  margin: 10px;
  margin-right:0;
  right: 10%;

  border: 0.5px solid #000000;
  background: #cccccc;
  filter:drop-shadow(-1px 1px 5px #61c475b4);
}
.garden-modal#one{
  width: 400px;
  height: 400px;
}
.garden-modal#two{
  height: 225px;
}
.garden-modal#three{
  width: 250px;
  height: 150px;
}
.garden-modal h1{
  padding-top: 5px;
  padding-bottom: 5px;

  border-bottom: 1px solid #000000;
  color: #000000; 
  background: #ffffff;
  font-family: 'Garamondt';
  font-size: 18px;
  font-weight: lighter;  
  text-align: center;
}
.garden-modal p{
  font-family: 'Garamondt';
  font-size: 18px;
}
.garden-modal label{
  font-family: 'Garamondt';
  font-size: 16px;
}
.inline-modal{
  position: relative;
  margin-top: auto;
  margin-left: auto;
  padding: 5px;
  text-align: center;
}
#row-1{
  width: 110px;
  border: 1px blue solid;
}
#row-2{
  width: 110px;
}
.garden-modal button{
  position: relative;
  width: 35px;
  height: 35px;
  margin: 5px;
  text-align: center;

  border: outset 4px #cccccc; 
  background: #cccccc;
  font-family:'Times New Roman', Times, serif;
  font-size: 16px;
  font-style: normal;
}
.garden-modal button:hover{
  border: outset 4px #bbbbbb; 
  background-color: #bbbbbb;
}
.garden-modal button:active{
  border: inset 4px #A9A8A9; 
  background-color: #7c7c7c;
}

/** RESPONSIVE STYLE FOR CELLPHONE VIEW **/
@media only screen and (hover: none) and (pointer: coarse){
    body {
      display: none;
    }
    html::after{
      position: fixed;
      display: block;
      content: "to view this website, please use a desktop or laptop computer";
      background: -moz-linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%);
      background: -webkit-linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%);
      background: linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%); 
      background-size: cover;
      height: 100%;
      color: #000000;
      text-align: center;
      padding-top: 50%;
      padding-right: 10%;
      padding-left: 10%;
      overflow: visible;
    }  
  }

@media screen and (max-width: 600px) {
  body {
    display: none;
  }
  html::after{
    position: fixed;
    display: block;
    content: "for functionnality purposes, please resize your window";
    background: -moz-linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%);
    background: linear-gradient(0deg, rgba(195,195,195,1) 15%, rgba(159,195,172,1) 65%, rgba(88,196,126,1) 100%); 
    background-size: cover;
    width: 100%;
    height: 100%;
    color: #000000;
    text-align: center;
    padding-top: 50%;
    overflow: visible;
  }
}