* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  cursor: url(../assets/hand.png), default;
}
@font-face {
  font-family: 'Patty Cake';
  src: url(../fonts/pattycake-regular-webfont.ttf);
}
@font-face {
  font-family: 'DWT Outline';
  src: url(../fonts/dwt_Outline.ttf);
}
@font-face {
  font-family: 'DWT Solid';
  src: url(../fonts/dwt_Solid.ttf);
}
/* ***
MAIN PAGE
*** */
body{
  position: relative;
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: justify;
  background-image: url('../assets/background_p1.png');
  background-size: cover;
  font-family: 'Patty Cake';
}
h1{
  font-family: 'DWT Outline';
  font-size: 80px;
}
h2{
  font-family: 'DWT Solid';
  font-size: 30px;
  padding-top: 5%;
  margin-bottom: -2%;
}
h3{
  font-weight: bold;
  font-style: italic;
}
h4{
  font-weight: normal;
}
.title{
  text-align: center;
}
#pdf{
  margin-bottom: 5vw;
}
#pdf-img{
  width: 25px;
}
section{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 50%;
}
.paragraphe{
  margin-top: 6%;
}
.slide{
  margin-top: 5%;
  margin-bottom: 3%;
}
img{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.ref{
  margin-top: 2%;
  margin-bottom: 3%;
}
.link-img{
  width: 1vw;
  margin-left:0;
  margin: 5px;
}
footer{
  height: 200px;
}
